body {
    height: 100vh;
    width: 100vw;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.counter {
    font-size: 2em;
    color: 	#FFD700;
    opacity: 0; /* Initially hidden */
    transform: translateY(-50px); /* Move up by 50px */
    animation: slideInDown 0.5s ease forwards; /* Animation properties */
}

@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px); /* Start position */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End position */
    }
}